@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sofia", system-ui, sans-serif;
    line-height: 1.3;
  }

  @font-face {
    font-family: "Sofia";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/sp.woff) format("woff2");
  }

  @font-face {
    font-family: "SofiaBold";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/sp-sb.woff) format("woff2");
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  letter-spacing: 0.06rem;
}

header .active:hover {
  text-decoration-thickness: 2px;
}

header .active {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

.header-nav-item {
  padding: 12px;
}
