@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sofia", system-ui, sans-serif;
    line-height: 1.3;
    font-size: 16px;
    color: #121212;
  }

  @font-face {
    font-family: "Sofia";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/sp.woff) format("woff2");
  }

  @font-face {
    font-family: "SofiaBold";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/sp-sb.woff) format("woff2");
  }
}

.Toastify__toast {
  @apply !p-4 border border-border-primary !rounded-none !shadow-sm !text-center !text-text-primary;
}

.Toastify__toast-theme--dark {
  @apply !bg-white;
}

.Toastify__progress-bar-theme--dark {
  @apply !bg-white;
}

.Toastify__close-button {
  @apply !text-text-secondary !opacity-100;
}

.Toastify__toast-body {
  @apply !text-text-secondary;
  font-family: "Sofia";
  font-size: 16px;
}

img {
  @apply object-cover object-center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  position: relative;
  --color-foreground: rgb(18, 18, 18);
  --inputs-border-width: 1px;
  --toastify-toast-width: 360px !important;
}

#root {
  background-color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  letter-spacing: 0.06rem;
}

header .active:hover {
  text-decoration-thickness: 2px;
}

header .active {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

.header-nav-item {
  padding: 12px;
}

.link {
  @apply text-text-secondary block text-[13px] py-[6px] cursor-pointer underline-offset-2 tracking-[0.6px];
}

.link:hover {
  @apply underline text-black;
}

.policies:before {
  content: "\b7";
  padding: 0 8px;
}

.slick-arrow {
  z-index: 3;
}

.slick-arrow::before {
  content: none;
}

.slick-prev {
  left: 16px;
}

.slick-next {
  right: 16px;
}

.slick-prev,
.slick-next {
  width: auto;
  height: auto;
}

.slick-disabled {
  opacity: 0.3;
}

.slick-list {
  overflow: hidden;
  padding: 0 0 16px 0;
}

.pagination-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0;
  text-decoration: none;
}

a:not(.arrow).pagination-item:hover:after {
  content: "";
  height: 1px;
  display: block;
  width: 20px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  background-color: currentColor;
}

.active-page {
  @apply text-text-secondary;
}

.active-page.pagination-item:after {
  content: "";
  height: 1px;
  display: block;
  width: 20px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  background-color: currentColor;
}

.carousel .carousel-item {
  @apply px-2;
}

.field {
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow 0.1s ease;
}

.field:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 5px rgba(18, 18, 18, 0);
  z-index: -1;
}

.field:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 0.1rem solid transparent;
  border-radius: 0px;
  box-shadow: 0 0 0 1px rgba(18, 18, 18, 0.55);
  transition: box-shadow 0.1s ease;
  z-index: 1;
}

.field:hover.field:after:not(:disabled) {
  box-shadow: 0 0 0 2px rgba(18, 18, 18, 0.55);
  outline: 0;
}

.field label {
  font-size: 16px;
  left: 15px;
  top: 12px;
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top 0.1s ease, font-size 0.1s ease;
  color: rgba(18, 18, 18, 0.75);
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.field:first-of-type {
  margin-top: 0;
}

.field {
  margin: 20px 0 0;
}

.field input:focus,
.field input:not(:placeholder-shown),
.field input:-webkit-autofill {
  box-shadow: 0 0 0 2px var(--color-foreground);
  padding-top: 20px;
  padding-bottom: 10px;
}

.field input:not(:focus) {
  box-shadow: 0 0 0 2px rgba(18, 18, 18, 0);
}

.field input:focus ~ label,
.field input:not(:placeholder-shown) ~ label,
.field input:-webkit-autofill ~ label {
  font-size: 10px;
  letter-spacing: 0.64px;
  top: 4px;
}

input::-webkit-input-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: transparent;
}

input::-ms-input-placeholder {
  color: transparent;
}

input::-moz-placeholder {
  color: transparent;
}

input::placeholder {
  color: transparent;
}

.field textarea:focus,
.field textarea:not(:placeholder-shown),
.field textarea:-webkit-autofill {
  box-shadow: 0 0 0 2px var(--color-foreground);
  padding-top: 20px;
  padding-bottom: 10px;
}

.field textarea:not(:focus) {
  box-shadow: 0 0 0 2px rgba(18, 18, 18, 0);
}

.field textarea:focus ~ label,
.field textarea:not(:placeholder-shown) ~ label,
.field textarea:-webkit-autofill ~ label {
  font-size: 10px;
  letter-spacing: 0.64px;
  top: 4px;
}

textarea::-webkit-textarea-placeholder {
  color: transparent;
}

textarea:-ms-textarea-placeholder {
  color: transparent;
}

textarea::-ms-textarea-placeholder {
  color: transparent;
}

textarea::-moz-placeholder {
  color: transparent;
}

textarea::placeholder {
  color: transparent;
}

.quantity {
  color: rgba(var(--color-foreground));
  position: relative;
  width: 142px;
  display: flex;
  min-height: 45px;
}

.quantity:before {
  background: rgb(var(--color-background));
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.quantity:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 0.1rem solid transparent;
  box-shadow: 0 0 0 1px rgba(18, 18, 18, 1);
  transition: box-shadow 0.1s ease;
  z-index: 1;
}

.quantity-input {
  color: currentColor;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.quantity-button {
  width: 45px;
  flex-shrink: 0;
  font-size: 18px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  padding: 0;
}

/* .slider-container .slick-track {
  display: flex;
  justify-content: center;
} */

.product-carousel .slick-prev {
  left: -45px;
}

.product-carousel .slick-next {
  right: -45px;
}

.product-showing {
  @apply px-[6px];
}

.slick-dots {
  position: relative;
  bottom: 0;
}

.slick-dots li {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots.slick-thumb {
  @apply !grid grid-cols-5 gap-3;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
}

.slick-dots.slick-thumb li {
  @apply w-full;
}

.slick-dots.slick-thumb li.slick-active a {
  @apply outline outline-text-primary;
}

.slick-dots.slick-thumb li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-dots.slick-thumb li:not(.slick-active) a img {
  @apply hover:opacity-75;
}

.custom-paging .slick-arrow {
  @apply top-[40%];
  background-color: transparent !important;
}

.custom-paging .slick-arrow:hover:not(.slick-disabled) svg {
  @apply scale-110;
}

.custom-paging .slick-dots.slick-thumb {
  @apply px-10;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
